.menu-button{  
    -fx-background-color:  transparent;
    -fx-background-radius: 6; 
    
}

.text-Label{
    -fx-text-fill: White;
    -fx-font-size: 17px;
    -fx-font-family: "Arial Rounded MT Bold";
}

.menu-button:hover{
    -fx-background-color: #06816D;
}

.table-button{
    -fx-background-color: #06816D;
    -fx-text-fill: white;
    -fx-font-size: 15;
    -fx-font-family: "Arial Rounded MT Bold";
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
    -fx-background-color: #059379;
}
.table-view .column-header{
    -fx-background-color: #059379;
}


/* Set the table row background color */
.table-view .table-row-cell {
    -fx-background-color: rgba(5, 147, 121, 0.15);
}

/* Set the table row alternate color */
.table-view .table-row-cell:odd {
    -fx-background-color: #ffffff; /* Use the same color if you don't want alternate colors */
}

/* Set the cell borders and padding */
.table-view .table-cell {
    -fx-border-color: white;
    -fx-border-width: 1;
    -fx-padding: 10;
    -fx-alignment: CENTER_LEFT;
}

/* Set the hover effect
.table-view .table-row-cell:hover {
    -fx-background-color: #C8E6C9;
} */

/* Remove selection color from table view */
.table-view:focused {
    -fx-background-color: transparent;
}

.table-view .table-row-cell:selected {
    -fx-background-color: #059379;
    -fx-font-weight: bold;;
    -fx-font-weight: bold;
}

/* Set the table row background color when focused and selected */
.table-view .table-row-cell:focused:selected {
    -fx-background-color: #059379;
    -fx-font-weight: bold;
}

/* Change the table row color on hover */
.table-view .table-row-cell:hover {
    -fx-background-color: #c8e6c9; /* Adjust to your desired hover color */
}

/* Ensure alternate row colors */
.table-view .table-row-cell:odd {
    -fx-background-color: rgba(5, 147, 121, 0.15); /* Adjust as per your needs */
}

/* Reset the font weight for non-selected rows */
.table-view .table-row-cell {
    -fx-font-weight: normal;
    -fx-background-color: transparent;
}