*{
    -fx-primary: #0d1925;
    -fx-secondary: #049479;
    -fx-light: #EBEBEB;
}

.menu-button{  
    -fx-background-color:  transparent;
    -fx-background-radius: 6; 
}

.label-text{
    -fx-font-family:  "Arial Rounded MT Bold";
    -fx-font-size: 15;
    -fx-fill: rgba(13, 25, 37, 0.50);
    -fx-text-fill: rgba(13, 25, 37, 0.50);;
}


/* .menu-button.selected{
    -fx-background-color: -fx-secondary;
} */
.label-text.selected{
    -fx-text-fill: -fx-secondary;
}

.menu-button:hover{
    -fx-background-color: #BBBBBB;
    -fx-cursor: hand;
}

.hover-image {
    -fx-opacity: 1;
    -fx-cursor: hand;
}

.hover-image:hover {
    -fx-opacity: 0.7;
}

.course-layout{
    -fx-background-color: white;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-color: rgba(0, 0, 0, 0.25);
    -fx-border-width: 1px;
}

.custom-scroll-pane .viewport {
    -fx-background: rgb(255, 255, 255);
}

.category-buttons{
    -fx-text-fill: rgba(13, 25, 37, 0.50);
    -fx-font-size: 17;
    -fx-background-color: transparent;

}

.category-buttons.selected{
    -fx-text-fill: black;
}




